<div class="welcome lastwelcome">
  <h4>>> login_request: "enter your credentials..."</h4>
</div>

<%= form_for(:session, url: sessions_path) do |f| %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

    <%= f.submit 'Log In', class: 'button-small' %>
<% end %>