<div class="welcome lastwelcome">
  <h4>>> ai.message: "Please enter your credentials..."</h4>
</div>

<div class="welcome errors">
  <% flash.each do |key, value| %>
    <h4>>> <%= value %></h4>
  <% end %>
</div>

<div class="centred">

    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

        <%= f.submit 'Log In', class: 'button-small' %>
    <% end %>

</div>