<%= render 'header' %>

<p>
  <strong style="color: <%= @commenter.colour %>; background-color: #4c4c4c;">
    &nbsp;<%= @commenter.username %>
  </strong>
  &nbsp;just said this in General Chat:
</p>
<p><strong><%= @chat.body %></strong></p>
<p>Go here to reply: <%= @url %></p>

<%= render 'footer' %>