<%= render 'header' %>

<% if @user.email != @event.host.email %>
    <p>
      <strong style="color: <%= @event.host.colour %>; background-color: #4c4c4c;">
        &nbsp;<%= @event.host.username %>
      </strong>
      &nbsp;has cancelled this event:
    </p>
<% else %>
    <p>
      Your event has been cancelled:
    </p>
<% end %>

<h3><%= @event.session_title %></h3>


<%= render 'footer' %>