<%= render 'header' %>

<% event_time = Time.zone.parse(@event.date_time.to_s) %>

<p>The <strong><%= @event.game_title %></strong> event:</p>

<h3><%= @event.session_title %></h3>

<p>is in two days, on <strong><%= event_time.strftime("%A, the #{event_time.day.ordinalize} of %b, %Y") %></strong>,</p>

<p>and starts at <%= event_time.strftime('%l:%M %p') %>.</p>

Go here to view the event: <%= @url %>

<%= render 'footer' %>