<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Factory Reset, <%= @user.username %>!</h1>
<p>
  You have successfully signed up for the greatest, most coolest gaming group in these here parts.
  Your username is: <%= @user.username %><br />
  Your email address is: <%= @user.email %><br />
  Your phone number is: <%= @user.telephone %>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Don't forget to check in every day for new comments and events!</p>
</body>
</html>