<div class="welcome lastwelcome">
  <h4>>> show_all(users) | link(<%= link_to 'go back', root_path %>)</h4>
</div>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Colour</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><span style='color: <%= user.colour %>'><%= user.username %></span></td>
        <td><span style='color: <%= user.colour %>'><%= user.email %></span></td>
        <td><span style='color: <%= user.colour %>'><%= user.telephone %></span></td>
        <td><span style='color: <%= user.colour %>'>&nbsp;&nbsp;&nbsp;&#8226;</span></td>
        <td><img src="<%= user.picture %>" class="pixel-me"></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'button-wee' %>
