<div class="welcome lastwelcome">
  <h4>>> show_user(<%= @user.username %>) | link(<%= link_to 'go back', root_path %>)</h4>
  <% if notice %>
    <h4>>> <%= notice %></h4>
  <% end %>
</div>

<p>
  <strong>Username:</strong>
  <span style="color: <%= @user.colour %>"><%= @user.username %></span>
</p>

<p>
  <strong>Email:</strong>
  <span style="color: <%= @user.colour %>"><%= @user.email %></span>
</p>

<p>
  <strong>Telephone:</strong>
  <span style="color: <%= @user.colour %>"><%= @user.telephone %></span>
</p>

<p>
  <strong>Picture:</strong><br />
  <img src="<%= @user.picture %>" class="pixel-me"/>
</p>

<% if @user == current_user or current_user.id == 1 %>
  <%= link_to 'Edit Profile', edit_user_path(@user), class: 'button-wee' %>
<% end %>