<div class="welcome lastwelcome">
  <h4>>> show_user(<%= @user.username %>) | link(<%= link_to 'go back', root_path %>)</h4>
  <h4>>> <%= notice %></h4>
</div>

<p>
  <strong>Username:</strong>
  <span style="color: <%= @user.colour %>"><%= @user.username %></span>
</p>

<p>
  <strong>Email:</strong>
  <span style="color: <%= @user.colour %>"><%= @user.email %></span>
</p>

<p>
  <strong>Telephone:</strong>
  <span style="color: <%= @user.colour %>"><%= @user.telephone %></span>
</p>

<p>
  <strong>Colour:</strong>
  <span style="color: <%= @user.colour %>"><%= @user.colour %></span>
</p>

<p>
  <strong>Picture:</strong><br />
  <img src="<%= @user.picture %>" class="pixel-me"/>
</p>

<%= link_to 'Edit User', edit_user_path(@user), class: 'button-wee' %>
