<div class="comments">
  <div class="all-comments">
    <% @chats.each do |comment| %>
        <div class="comment" style="color: <%= comment.user.colour %>;">
          <% comment_time = Time.zone.parse(comment.created_at.to_s) %>

          >> <%= comment.user.username %>
          <% if comment_time.beginning_of_day == Time.zone.today.beginning_of_day %>
              @ <%= comment_time.strftime('%l:%M %p') %>
          <% else %>
              on <%= comment_time.strftime('%e %b') %>
          <% end %>
          => <%= comment.body %>
          <% if comment.user == current_user or current_user.id == 1 %>
            <span class="delete">
              <%= link_to 'x', [comment],
                          method: :delete,
                          data: { confirm: 'Delete this comment? This cannot be undone' } %>
            </span>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="new-comment">
    <%= form_for(Chat.new) do |f| %>
        <div class="comment-label">>> comment =></div>
        <div class="comment-field"><%= f.text_field :body, style:"color: #{current_user.colour}" %></div>
        <div class="comment-button"><%= f.submit(value:'press enter to send', class:'button-comment')%></div>
    <% end %>
  </div>
</div>