<div class="event">

  <div class="top">
    <div class="date"><%= event.date_time.strftime('%a %e %b %Y') %></div>
    <div class="game"><%= event.game_title %></div>
    <div class="clearfix"></div>
  </div>

  <!-- Only show an event image if it exists and ends with an image extension -->
  <% if event.event_image && event.event_image.ends_with?('jpg', 'jpeg', 'gif', 'png') %>
      <div class="image"><img src="<%= event.event_image %>" /></div>
  <% end %>

  <div class="content">

    <div class="description">
      <h4><%= event.session_title %></h4>
      <h4>Starts at <span class="time"><%= event.date_time.strftime('%l:%M %p') %></span></h4>
      <% event.description.lines.each do |line| %>
          <p><%= line %></p>
      <% end %>
    </div>

    <div class="location">

      <div class="map">
        <a href="https://www.google.ca/maps/place/<%= event.address %>" target ="_blank">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= event.address %>
                        &zoom=15&size=170x150&maptype=roadmap&markers=<%= event.address %>" />
        </a>
      </div>

      <div class="address">
        <strong><%= event.address_title %></strong><br />
        <%= event.address %><br />
        <%= event.instructions %><br />
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="control">
      <% if event.host == current_user or current_user.id == 1 %>
        <%= link_to 'Edit Event', edit_event_path(event), :class => 'button-wee' %>
        <%= link_to 'Cancel Event', event, method: :delete, data: {
                confirm: 'Delete this event? This cannot be undone.' }, :class => 'button-wee' %>
      <% end %>
    </div>

    <div class="rsvp">
      <% if current_user != event.host %>
        <% if event.rsvps.where(user_id: current_user.id).count > 0 %>
          <div class="button-big button-big-green">
            <%= link_to 'RSVP', event_rsvp_path(event, event.rsvps.where(user_id: current_user.id).first), method: :delete, :class => 'button-big-link' %>
          </div>
        <% else %>
            <div class="button-big">
              <%= link_to 'RSVP', event_rsvps_path(event), method: :post, :class => 'button-big-link' %>
            </div>
        <% end %>
      <% end %>
    </div>

    <div class="clearfix"></div>

  </div>

  <div class="bottom">

    <div class="attendees">
      <% event.rsvps.each do |rsvp| %>
        <% unless event.host == rsvp.user %>
          <%= link_to (image_tag(rsvp.user.picture)), user_path(rsvp.user) %>
        <% end %>
      <% end %>
    </div>

    <% if event.host == current_user %>
      <div class="host is-host">
        <% if event.rsvps.where(user_id: event.host.id).count > 0 %>
          <%= link_to (image_tag(event.host.picture)), user_path(event.host) %>
        <% end %>
      </div>
    <% else %>
      <div class="host">
        <% if event.rsvps.where(user_id: event.host.id).count > 0 %>
          <%= link_to (image_tag(event.host.picture)), user_path(event.host) %>
        <% end %>
      </div>
    <% end %>

    <div class="clearfix"></div>

  </div>

  <div class="comments">
    <div class="all-comments">
      <% event.comments.each do |comment| %>
        <div class="comment" style="color: <%= comment.user.colour %>;">
          >> <%= comment.user.username %>
          <% if comment.created_at.beginning_of_day == Date.today.beginning_of_day %>
              @ <%= comment.created_at.strftime('%l:%M %p') %>
          <% else %>
              on <%= comment.created_at.strftime('%e %b') %>
          <% end %>
          => <%= comment.body %>
          <% if comment.user == current_user or current_user.id == 1 %>
            <span class="delete">
              <%= link_to 'x', [comment.event, comment],
                          method: :delete,
                          data: { confirm: 'Delete this comment? This cannot be undone' } %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="new-comment">
      <%= form_for([event, event.comments.build]) do |f| %>
        <div class="comment-label">>> comment =></div>
        <div class="comment-field"><%= f.text_field :body, style:"color: #{current_user.colour}" %></div>
        <div class="comment-button"><%= f.submit(value:'press enter to send', class:'button-comment')%></div>
      <% end %>
    </div>
  </div>

</div>