<div class="welcome lastwelcome">
  <h4>>> show_events(single) | link(<%= link_to 'go back', root_path %>)</h4>
</div>

<div class="event">

  <div class="top">

    <div class="date"><%= Time.zone.parse(@event.date_time.to_s).strftime('%a %e %b %Y') %></div>

    <div class="game"><%= @event.game_title %></div>

    <div class="clearfix"></div>

  </div>

  <% if @event.event_image && @event.event_image.downcase.ends_with?('jpg', 'jpeg', 'gif', 'png') %>
      <a href="<%= event.event_image %>" target="_blank">
        <div class="image"><img src="<%= event.event_image %>" /></div>
      </a>
  <% end %>

  <div class="content">

    <div class="description">

      <h4><%= @event.session_title %></h4>

      <h4>Starts at <span class="time"><%= Time.zone.parse(@event.date_time.to_s).strftime('%l:%M %p') %></span></h4>

      <% @event.description.lines.each do |line| %>
          <p><%= line %></p>
      <% end %>

    </div>

    <div class="location">

      <div class="map">
        <a href="https://www.google.ca/maps/place/<%= @event.address %>" target ="_blank">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @event.address %>&zoom=15&size=170x150&maptype=roadmap&markers=<%= @event.address %>" />
        </a>
      </div>

      <div class="address">
        <%= @event.address %><br />
        <%= @event.instructions %><br />
      </div>

    </div>

    <div class="clearfix"></div>

  </div>

</div>
