<p>
  <strong>Game Title:</strong>
  <%= @event.game_title %>
</p>

<p>
  <strong>Session Title:</strong>
  <%= @event.session_title %>
</p>

<p>
  <strong>Date & Time:</strong>
  <%= @event.date_time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @event.instructions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>