<!DOCTYPE html>
<html>
<head>
  <title>Factory Reset</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Mono|VT323' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div id="container">

  <div id="header">
    <% if signed_in? %>
      <%= link_to 'Create Event', new_event_path, class: 'button-big header-button' %>
    <% end %>
  </div>

  <div class="welcome">
    <% if signed_in? %>
      <h4>>> user recognized: (<%= link_to "#{current_user.username}", current_user %>)
          (<%= link_to 'log out', logout_path, method: 'delete' %>)</h4>
    <% else %>
      <h4>>> user not recognized!</h4>
    <% end %>
  </div>

  <div id="content">
    <!-- yield renders the page content -->
    <%= yield %>
  </div>

  <div id="footer">
    <h4>>> Factory Reset is a private gaming group in Vancouver BC</h4>
    <h4>>> This website is created and owned by <a href="http://www.chloeunrau.com" target="_blank">Chloe Unrau</a></h4>
  </div>

  <!-- Shows debug info in the Rails Dev-Env -->
  <div id="dev-debug">
    <%= debug(params) if Rails.env.development? %>
  </div>

</div> <!-- container -->
</body>
</html>